# Виртуальное окружение
env/
venv/
*.env
*.pyenv

# Кеш и вспомогательные файлы
__pycache__/
*.py[cod]

# Настройки IDE
.idea/
.vscode/
*.iml

# Логи и временные файлы
*.log
*.bak
*.swp

# Системные файлы
Thumbs.db
.DS_Store

# Временные тестовые файлы
tmp_data.txt

